<!DOCTYPE html>
<html>
<head>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="http://n.vnteam.ru/web/js/jquery.json-2.4.js"></script>

	<script src="http://n.vnteam.ru/web/js/ajax.js"></script>
</head>
<body>


<div class="result"></div>


</body>
</html>