
<!-- FOOTER -->

	<footer>

	                            
         <div class="wrapper"> 

			<div class="footer_row_buttons">

			


			    <a href=""><div class="icon button-twitter"></div></a>
			    <a href=""><div class="icon button-vk"></div></a>
			    <a href=""><div class="icon button-fb"></div></a>

				<p>Узнайте первыми о новых стажировках, подписывайтесь на нас!</p>

			</div>	

			</div>

            <div class="footer-row-logo">
                <div class="wrapper slider-wrapper">
                    <div class="jcarousel" id="footerGallery">
                        <ul class="gallery">
                            <li class="astra_logo"><a href="#"></a></li>
                            <li class="epic_logo"><a href="#"></a></li>
                            <li class="kelnik_logo"><a href="#"></a></li>
                            <li class="lead-zeppelin_logo"><a href="#"></a></li>
                            <li class="legion_logo"><a href="#"></a></li>
                            <li class="nimax_logo"><a href="#"></a></li>
                            <li class="sereniti_logo"><a href="#"></a></li>
                            <li class="spetsia_logo"><a href="#"></a></li>
                            <li class="shishki_logo"><a href="#"></a></li>
                        </ul>
                    </div>
                    <a href="" class="footerArrow footer-arrow-left jcarousel-prev"></a>
                    <a href="" class="footerArrow footer-arrow-right jcarousel-next"></a>
                </div>
            </div>


			<div class="footer_row_designed">

			<div class="wrapper">   

				<p>Designed by Galina Drozd, Elena Mochalova and Ekaterina Jackson</p>

			</div>	
			</div>

        </div> 

	</footer>	


