<header>
	<div class="wrapper">
		<nav>
	   		<a href=""></a>
			<a href="{{ app.url_generator.generate('main') }}" class="header-link">Стажировки</a>
			<a href="" class="header-link">Компании</a>
			<a href="" class="header-link">Истории успеха</a>
			<a href="" class="header-link">WTF</a>
		</nav>
    </div>
</header> 