	<div class="promo">


		<div class="wrapper">

			<div class="column one-third">
				<div class="icon loupe"></div>
				<h2>Найди стажировку</h2>
				<p>Воспользуйся удобным поиском и найди свою идеальную стажировку</p>
			</div>

			<div class="column one-third">
				<div class="icon mail"></div>
				<h2>Заяви о себе</h2>
				<p>Выполни тестовое задание<br/> и отправь заявку<br/> на стажировку</p>
			</div>

			<div class="column one-third">
				<div class="icon like"></div>
				<h2>Работай у лучших</h2>
				<p>Получи приглашение<br/> на собеседование<br/> в компанию мечты</p>
			</div>

		</div>

	</div>