 <div class="search">

    	<div class="wrapper">

    		<h2>Я ищу стажировку в сфере</h2>

    		<div class="options">

    			<div class="option option-one">Frontend</div>
    			<div class="option option-two">Дизайн</div>
    			<div class="option option-three">Программирование</div>

    		</div>


     <!--   MOVING LINK TO DROP-DOWM MENU -->

    		<div class="option-hover">

    			
    			
    			<a href="#toHide" class="link-show" id="showButton">Открыть расширенный поиск</div>
    		

    		</div>

       <!--   END  MOVING LINK TO DROP-DOWM MENU -->


    	</div>

    </div>
