<div class="vacancy vacancy-four">


<!-- row with logo, description and work options -->    		

    		    <div class="vacancy-row-main">


<!-- company logo -->    		    

    				<a href="" class="column vacancy-logo"><img src="http://chickstalks.com/wp-content/uploads/2014/04/logo_astra.png" alt="logo Astra"></a>
                    <div class="dates">
                        <p>2 июня - 7 июля</p>
                    </div>
<!-- vacancy description -->


    				<a href=""><div class="column description">

    					<h2>Frontender</h2>
    					<p>Мы ищем самого кругого молодого frontender'a в нашу дружную классную команду! Ты молодец и умничка?   Креативный функциональный многорук? Ты нужен нам!</p>

    				</div>
    				</a>


<!-- column with icons, full-time/part time, etc -->


    				<div class="column conditions">

    					<div class="row-salary">$ 5000 + печеньки</div>

    					<div class="row-details">
    					
    						<div class="column column-time">

    							<div class="icon-full-time"></div>
                            	<p class="capture-full-time">full-time</p>
    						    					
                       		 </div>


                        <div class="column column-office">	 
    					  
    					    <div class="icon-office"> </div>
    					    <p class="capture-office">в офисе</p>

    					</div> 	
    					
    				</div>

<!-- end column with icons -->    				


    			</div>


<!-- end of row   "vacancy-row-main"  -->  


<!-- row   with mentro location  -->  


                <div class="vacancy-row-metro">
                	

                    <p>м. Пионерская</p>
    				<div class="geo"></div>


                </div>



    		</div>  			
    		</div>
