<div class="vacancy vacancy-six">


<!-- row with logo, description and work options -->    		

    		    <div class="vacancy-row-main">


<!-- company logo -->    		    

    				<a href="" class="column vacancy-logo"><img src="http://chickstalks.com/wp-content/uploads/2014/03/logo_nimax.png" alt="logo Nimax"></a>  

                    <div class="dates">
                        <p>2 июня - 7 июля</p>
                    </div>
<!-- vacancy description -->


    				<a href=""><div class="column description">

    					<h2>Дизайнер интерфейсов</h2>
    					<p>Мы ищем самого кругого молодого дизайнера интерфейсов в нашу дружную классную команду! Ты молодец и умничка? Креативный функциональный многорук? Ты нужен нам!</p>

    				</div>
    				</a>


<!-- column with icons, full-time/part time, etc -->


    				<div class="column conditions">

    					<div class="row-salary">не оплачивается</div>

    					<div class="row-details">
    					
    						<div class="column column-time">

    							<div class="icon-any-time"></div>
                            	<p class="capture-any-time">any-time</p>  
    						    					
                       		 </div>


                        <div class="column column-office">	 
    					  
    					    <div class="icon-home"> </div>
    					    <p class="capture-home">удаленно</p>

    					</div> 	
    					
    				</div>

<!-- end column with icons -->    				


    			</div>


<!-- end of row   "vacancy-row-main"  -->  


<!-- row   with mentro location  -->  


                <div class="vacancy-row-metro">
                	

                    <p>в любой части света</p>
    				<div class="geo"></div>


                </div>



    		</div>  			
    		</div>
